body {
	/*font-family: verdana, sans-serif;*/
	font-family: Georgia;
	font-size: 20px;
	line-height: 1.5em;
	/*background: #19191A;*/
	/*text-align: center;*/
	min-width: 960px;
	background-color: #efefef;
	color: #454545;
	/*background-color: red;*/
	/*background: url('/images/background_grad.png') repeat-x;*/
}

body.barremote{
	background-color: #025382;
	
}

#header {
	background-color: #efefef;
	width: 100%;
	min-width: 960px;
	float: left;
	clear: both;
	display: inline;
}

.wrap {
	width: 940px;
	margin: 0 auto;
	text-align: left;
}

#branding {
	float: left;
}

#branding .logo {
	float: left;
	font-family: 'Helvetica';
	font-size: 50px;
	font-weight: bold;

}

#branding .logo a {
	display: block;
	/*background-color: red;*/
	color: white;
	/*background: url(/img/template/logo_tapbots.gif);*/
	/*width: 140px;*/
	/*height: 80px;*/
	/*text-indent: -9000px;*/
	margin: 30px 0px;
	text-shadow: 1px 1px 5px black;
	letter-spacing: -4px;
	text-decoration: none;
}

#branding.roomcol .logo a {
	/*color: #454545;*/
	/*text-shadow: 1px 1px 4px white;*/
	color: #fafafa;
	text-shadow: 1px 1px 5px #454545;
}

#branding .tagline {
	width: 220px;
	height: 40px;
	margin: 40px 0 40px 20px;
	/*text-indent: -9000px;*/
	float: left;
}

/*#header .navbar {
	float: right;
	width: 460px;
	margin: 40px 0;
}*/


#header .navigation {
	/*background-color: yellow;*/
	float: right;
	width: 460px;
	/*width: 325px;*/
	/*margin: 35px;*/
}

#header .siteNav{
	margin-top: 5px;
	float: right;

}

#header .appNav{
	margin-top: 10px;
	float: right;
}



#body {
	/*background: white;*/
	width: 100%;
	min-width: 960px;
	float: left;
	clear: both;
	display: inline;
	padding-bottom: 80px;
	/*border-bottom: 15px solid white;*/
}

#hero-full{
	width:100%;
	height: 468px;
	background: url('/images/home_box1.png') repeat-x;
}

#hero-box{
	width: 940px;
	height: 468px;
	margin-bottom: 20px;
	position: relative;
	
}

#hero-box .product-icon{
	display: block;
	position: absolute;
	margin-top: 45px;
	width: 330px;
	height: 330px;
	background: url('/images/BarRemote_icon_shelf.png');
	text-indent: -9000px;
}

#hero-box .title{
	font-size: 35px;
	font-weight: bold;
	text-shadow: 2px 2px 10px black;
	color: white;
	/*position: absolute;*/
	width: 100%;
	/*margin-top: 35px;*/
}

#hero-box h3.big {
	margin-bottom: 0px;
	font-size: 25px;
	line-height: 25px;
	/*letter-spacing: -1px;*/
	/*padding-top: 60px;*/
	text-shadow: 2px 2px 10px black;
}

#hero-box .textposition{
	padding-top: 70px;
	color: white;
}

#hero-box .product{
	display:block;
	height: 500px;
	text-indent: -9000px;
	/*background: url('/images/hero-unit-BarRemote.png');*/
}

/*============== BarRemote product =====*/
#heroBR-full{
	width:100%;
	height: 1125px;
	background: url('/images/heroBR-back.png') repeat-x;
}

#heroBR-box{
	width: 940px;
	height: 1127px;
	margin-bottom: 20px;
	position: relative;
}

#heroBR-box .title{
	font-size: 35px;
	font-weight: bold;
	text-shadow: 2px 2px 10px black;
	color: white;
	position: absolute;
	width: 100%;
	margin-top: 30px;
}

#heroBR-full #iMac{
	position: absolute;
	margin-left:-650px;
	margin-top: 130px;
	min-width: 1205px;
	min-height: 1000px;
	max-width: 1205px;
	max-height: 100px;

}

#heroBR-box #iPhone{
	margin-left: 580px;
	margin-top: 20px;
}

#heroBR-box #macStore{
	margin-left: 600px;
	margin-top: 160px;
}

#heroBR-box #appStore{
	margin-left: 600px;
	margin-top: 100px;
}

#heroBR-box #soonSign-top{
	/*position: absolute;
	margin-top: -60px;
	margin-left: -330px;*/

	margin-top: -1150px;
	margin-left: 600px;
	z-index: 100;

}

#body #soonSign-ios{
	/*position: absolute;*/
	margin-top: -1500px;
	margin-left: -600px;
	text-align: center;
}

#body .box1{
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #013c5e;
	border-bottom: 1px solid #4d86a7;
	background-color: #024b75;
	/*background-color: #025382;*/
}

#body .box2{
	border-bottom: 1px solid #4d86a7;
}

#body .grayBoxTop{
	background: url('/images/home_box_top.png') repeat-x;
	height: 12px;
}

#body .grayBox{
	background-color: #edebeb;
}

#body .grayBoxBottom{
	background: url('/images/home_box_bottom.png') repeat-x;
	height: 6px;
}

#footer
{
	float: left;
	clear: both;
	display: inline;
	width: 100%;
}

#footer.barremote{
	/*background-color: red;*/
	background: url('/images/footer_back.png') repeat-x;
	height: 58px;
}

#footer.default{
	background: url('/images/footer.png') repeat-x;
	height: 58px;

}

.cb-lightBlue{
	color: #4d86a7;
}

.cb-lightBlue0{
	color: #96d0e4;
}

.sharer{
	/*float: left;*/
}

#twitter{
	/*display: block;*/
	opacity: .6;
	background: url('/images/twitter.png') no-repeat;
	height: 35px;
	/*width: 40px;*/
	text-indent: 50px;
	color: #454545;
	text-decoration: none;
}

#twitter.barremote{
	color: #96d0e4;
}

#twitter:hover{
	opacity: 1;
	text-decoration: none;
}

#email{
	display: block;
	opacity: .6;
	background: url('/images/email.png') no-repeat;
	height: 35px;
	text-indent: 70px;
	color: #454545;
	text-decoration: none;
}

#email.barremote{
	color: #96d0e4;
}

#email:hover{
	opacity: 1;
	text-decoration: none;
}

#twitter, #facebook, #email, #linkedIn {
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2 ease;
	transition: all .2s ease;
}

#linkedIn{
	opacity: .8;
	margin-right: 150px;
	/*display: block;*/
	/*font-family: Helvetica, verdana;*/
	/*font-size: 18px;*/
}

#linkedIn:hover{
	text-decoration: none;
	opacity: 1;
}

#copyright
{
	color: #807f7f;
	font-size: 16px;
}

/* ============= room colors ==================*/

#showcase {
	/*display: block;
	position: absolute;*/
	/*margin-top: 45px;*/
	/* 960 min width */
	
	/*margin-left: -60px;*/
	width: 400px;
	height: 750px;
	/*background-image: url('/apps/roomcolors/images/iPhone_white.png');*/
	background-image: url('/apps/roomcolors/images/iPhone_black.png');
	/*text-indent: -9000px;*/
}

#showcase.w{
	background-image: url('/apps/roomcolors/images/iPhone_white.png');
}

.separator-image
{
	/*: url('/apps/roomcolors/images/dark-white-hr.png') repeat-x;*/
	height: 2px;
	width: 100%;
	/*background-repeat: repeat-x;*/
	/*background-color: red;*/
	box-shadow: 0px -1px 1px 1px #dfdfdf;
	box-shadow: 
}

.rc-head
{
	/*background-color: red;*/
	width:480px; 
	float:left; 
	margin-left:040px;
}

.headTitle
{
	font-size: 46px;
	line-height: 25px;
	font-weight: bold;
}

.headTitle2
{
	font-size: 46px;
	line-height: 40px;
	font-weight: bold;
}

.subtitle
{
	font-size: 26px;
	line-height: 30px;
}

#blah
{
	background-color: green;
}

#macbook-full
{
	position: absolute; /*ff*/

	overflow: hidden;
	width:100%;
	height: 690px;
	margin-top: -580px;
}

#macbook-box
{
	width: 940px;
	height: 690px;
	margin-bottom: 20px;
	/*position: relative;*/

}

.macbook
{
	
	/*position: absolute; ff*/
	/*background-color: yellow;*/
	margin-left: 450px;
	/*margin-top: -400px;*/
	min-width: 1050px;
	min-height: 690px;
	max-width: 1050px;
	max-height: 690px;
}

/* ====================================================*
/* ====================================================*
/* ======= temp ==================*/
#amacbook-full
{
	/*overflow: hidden;*/
	/*width:100%;*/
	/*height: 690px;*/
	/*margin-top: -200px;*/
}

#amacbook-box
{
	/*width: 940px;*/
	/*height: 690px;*/
	margin-bottom: 20px;
	/*position: relative;*/


}

.amacbook
{
	
	/*position: absolute;*/
	/*background-color: yellow;*/
	/*margin-left: 450px;*/
	/*margin-top: -400px;*/
	min-width: 1050px;
	min-height: 690px;
	max-width: 1050px;
	max-height: 690px;
}
/* ====================================================*
/* ====================================================*

.macbook1
{
	
}

/* ===================== general =====================*/

.bold
{
	font-weight: bold;
}

.floatLeft{
	float: left;
}

.floatRight{
	float:right;
}

.center{
	text-align: center;
}

.justify{
	text-align: justify;
}

h3.subtitle{
	margin-bottom: 0px;
}

.white{
	color: white;
}

.blackish{
	color: #454545;
}

.shadow{
	text-shadow: 2px 2px 10px black;
}

.wshadow{
	text-shadow: 2px 2px 10px white;
}

.light-shadow{
	text-shadow: 1px 1px 3px black;
}

.hr-blue{
	background: url('/images/hr_blue.png') repeat-x;
}

.pad10Top{
	padding-top: 10px;
}

.pad15Top{
	padding-top: 15px;
}

.pad40Top{
	padding-top: 40px;
}

.pad20Top{
	padding-top: 20px;
}

.pad20Bottom{
	padding-bottom: 20px;
}

.margin0Bottom{
	margin-bottom: 0px;
}

/*==================== override bootstrap ===================*/

#header .btn-group{
	float:right;
}

#header .btn{
	line-height: 30px;
	/*padding: 4px 20px;*/
	font-size: 16px;
	font-weight: bold;
	color: #023e62;
	text-shadow: 1px 1px 5px white;
}

#header .btn.active{
	color: #024b75;
}


